In [14]:
# import modules
import pandas as pd

In [15]:
# Create a dataframe
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'sex': ['male', 'female', 'male', 'female', 'female']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'sex'])
df

  first_name last_name     sex
0      Jason    Miller    male
1      Molly  Jacobson  female
2       Tina       Ali    male
3       Jake    Milner  female
4        Amy     Cooze  female

In [16]:
# Create a set of dummy variables from the sex variable
pd.get_dummies(df, columns=['sex'])

  first_name last_name  sex_female  sex_male
0      Jason    Miller           0         1
1      Molly  Jacobson           1         0
2       Tina       Ali           0         1
3       Jake    Milner           1         0
4        Amy     Cooze           1         0

In [17]:
df.get_dtype_counts()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

object    3
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
first_name    5 non-null object
last_name     5 non-null object
sex           5 non-null object
dtypes: object(3)
memory usage: 248.0+ bytes

# Convert Pandas Categorical Data For Scikit-Learn

In [6]:
# Import required packages
from sklearn import preprocessing
import pandas as pd

In [25]:
raw_data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong']}
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])

In [26]:
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(df['score'])

LabelEncoder()

In [27]:
# View the labels (if you want)
list(le.classes_)

['normal', 'strong', 'weak']

In [28]:
# Apply the fitted encoder to the pandas column
le.transform(df['score'])

array([1, 2, 0, 2, 1])

In [29]:
# Convert some integers into their category names
list(le.inverse_transform([2, 2, 1]))

['weak', 'weak', 'strong']

In [30]:
df.get_dtype_counts()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

int64     3
object    1
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
patient      5 non-null int64
obs          5 non-null int64
treatment    5 non-null int64
score        5 non-null object
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes